# Dependencies
node_modules/
.pnpm-debug.log
npm-debug.log
yarn-error.log
.pnp.*
.pnp

# Build output
/build
/.docusaurus
.docusaurus
.cache-loader

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# MacOS
.DS_Store

# Logs
logs
*.log

# IDEs
.vscode/
.idea/
*.sw?

# Optional npm cache directory
.npm/

# Next.js
.next/
out/

# Others
coverage/